<div class="jumbotron text-center">
  <h1 class="display-4">شكراً لك!</h1>
  <p class="lead">
    <strong class="lead text-info"><i class="fa fa-check-circle-o text-info" aria-hidden="true"></i> تمت عملية الدفع بنجاح</strong> يمكنك الأن الاستفادة من المزايا الاضافية الخاصة بالاشتراك من خلال الضغط على زر [ابدأ الأن].</p>
    <div class="container text-dark"><img src="assets/img/undraw-order-confirmed.svg" class="img-fluid mx-auto d-block" style="max-width: 400px;" alt=""></div>
    <p class="lead pt-3">
      <a class="btn btn-info w-50 btn-sm " href="javascript:void(0)" (click)="startNow()" role="button">{{'Hero.Start' | translate }}</a>
    </p>

    <hr>
    <p>
      هل تواجه مشكلة؟ <a [routerLink]="['/contact-us']" >تواصل معنا</a>
    </p>

</div>
