    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
        <div class="container">
          <div class="section-title mb-1 pb-0">
            <h4>شركائنا في النجاح</h4>
          </div>
          <div class="row images">
              <img src="assets/img/clients/client-1.svg" class="px-2 py-0" loading="lazy"  />
              <img src="assets/img/clients/client-2.svg" class="px-2 py-0" loading="lazy"  />
              <img src="assets/img/clients/client-3.svg" class="px-2 py-0" loading="lazy"  />
              <img src="assets/img/clients/client-4.svg" class="px-2 py-0" loading="lazy"  />
              <img src="assets/img/clients/client-5.svg" class="px-2 py-0" loading="lazy"  />
              <img src="assets/img/clients/client-6.svg" class="px-2 py-0" loading="lazy"  />
              <img src="assets/img/clients/client-7.svg" class="px-2 py-0" loading="lazy"  />
              <img src="assets/img/clients/client-8.svg" class="px-2 py-0" loading="lazy"  />
              <img src="assets/img/clients/client-9.svg" class="px-2 py-0" loading="lazy"  />
              <img src="assets/img/clients/client-10.svg" class="px-2 py-0" loading="lazy"  />
              <img src="assets/img/clients/client-11.svg" class="px-2 py-0" loading="lazy"  />
              <img src="assets/img/clients/client-12.svg" class="px-2 py-0" loading="lazy"  />
              <img src="assets/img/clients/client-13.svg" class="px-2 py-0" loading="lazy"  />
              <img src="assets/img/clients/client-14.svg" class="px-2 py-0" loading="lazy"  />
              <img src="assets/img/clients/client-15.svg" class="px-2 py-0" loading="lazy"  />
              <img src="assets/img/clients/client-16.svg" class="px-2 py-0" loading="lazy"  />
              <img src="assets/img/clients/client-17.svg" class="px-2 py-0" loading="lazy"  />
              <img src="assets/img/clients/client-18.svg" class="px-2 py-0" loading="lazy"  />
              <img src="assets/img/clients/client-19.svg" class="px-2 py-0" loading="lazy"  />
              <img src="assets/img/clients/client-20.svg" class="px-2 py-0" loading="lazy"  />
              <img src="assets/img/clients/client-21.svg" class="px-2 py-0" loading="lazy"  />
          </div>
        </div>
    </section><!-- End Clients Section -->