    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

          <div class="row">

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
              <div class="contact-about">
                <h2>أقدر</h2>
                <p>سر النجاح والتقدم في العمل،
                  هو أن تبدأ العمل!</p>
                <div class="social-links">
                  <a href="https://twitter.com/aqdrr_ksa" class="twitter"  target="_blank"><i class="fa fa-twitter"></i></a>
                  <a href="https://www.youtube.com/channel/UCKl8SH3cbRWuFm459GcCVrA" class="youtube"  target="_blank" ><i class="fa fa-youtube"></i></a>
                  <a href="https://www.instagram.com/aqdrr_ksa/"  target="_blank" class="instagram"><i class="fa fa-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/%D9%85%D9%86%D8%B5%D8%A9-%D8%A3%D9%82%D8%AF%D8%B1-b940bb1bb/" target="_blank" class="linkedin"><i class="fa fa-linkedin-square"></i></a>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
              <div class="info">
                <div class="align-self-center my-3">
                  <i class="fa fa-map-marker px-1"></i>
                  <span>المملكة العربية السعودية</span>
                </div>

                <div class="align-self-center my-3">
                  <i class="fa fa-at px-1"></i>
                  <span dir="ltr">aqdrr.sa@gmail.com</span>
                </div>

                <div class="align-self-center my-3">
                  <i class="fa fa-whatsapp px-1" aria-hidden="true"></i>
                  <!-- <span dir="ltr">+966xxxxxxxxx</span> -->
                  <span dir="ltr"><a href="https://wa.me/message/Z5QMRKHHIEKYL1" target="_blank">{{'SocialMedias.WhatsApp' | translate }}</a></span>
                </div>

              </div>
            </div>

            <div class="col-lg-5 col-md-12 php-email-form" data-aos="fade-up" data-aos-delay="300">
                <app-create-ticket></app-create-ticket>
            </div>

          </div>

        </div>
      </section><!-- End Contact Section -->
