<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h2>{{'Sms.Title'| translate}}</h2>
            </div>
            <ol>
            <ol>
                
                <li><a [routerLink]="['/settings']">{{'Menu.Dashboard' | translate }}</a></li>
            </ol>
            </ol>
        </div>
    </div>
</section><!-- End Breadcrumbs -->
<article class="content">
    <div class="container">
      <app-send-sms></app-send-sms>
    </div>
</article>




