    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        <div class="container">
  
          <div class="section-title" data-aos="fade-up">
            <h2>منصة أقدر؟</h2>
          </div>
  
          <div class="row content">
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
              <h5 class="text-left"><span class="section-header-behind-line behind-line-gray">أقدر</span></h5>
              <p>
                منصة أقدر تقدم حلول توظيف متكاملة للعمل بالساعة تربط فئات الأعمال مع شباب سعوديين متميزين في وظائف متعددةومنتوعه لتغطية احتياجهم من الكوادر البشرية.
              </p>
              <h5 class="text-left"><span class="section-header-behind-line behind-line-gray">رؤيتنا</span></h5>
              <p>
                أن نصبح أكبر منصة للعمل الجزئي إقليمياً وعالمياً.
              </p>
              <a href="#" class="btn-learn-more">تَعرّف أَكثر</a>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
              <h5 class="text-left"><span class="section-header-behind-line behind-line-gray">رسالتنا</span></h5>
              <p>
                قيادة تجربة علمية للطلاب وحديثي التخرج وأصحاب الخبرات داخل سوق العمل “العمل الجزئي”
  بما يتوافق مع متطلبات السوق ورغبات الشباب من خلال:
              </p>
              <ul>
                <li><i class="fa fa-check-square-o"></i> توفير بيئة تفاعلية مشجعة ومحفزة للطلاب والخريجين لإكتساب المهارات والخبرات اللازمة.</li>
                <li><i class="fa fa-check-square-o"></i> تنظيم عملية العمل الجزئي داخل منظومة سوق العمل.</li>
                <li><i class="fa fa-check-square-o"></i> تطبيق نظام التعليم التفاعلي لطلاب وطالبات المدارس.</li>
              </ul>
  
            </div>
          </div>
  
        </div>
      </section><!-- End About Us Section -->