<div class="user-activity">
    <div class="activity-rate">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
    </div>
    <div class="activity-details align-middle">
        <span>قام المستخدم بالانضمام للمنصة لأول مره</span>
        <abbr class="activity-time" title="2020/08/08 12:08">منذ 10 دقائق</abbr>
    </div>
</div>
<div class="user-activity">
    <div class="activity-rate">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
    </div>
    <div class="activity-details">
        <span>
            قام جهة التوظيف <a href="#">مطاعم الشرق الأوسط</a> بتقييم أداء الموظف، بعد توظيفه على العرض رقم <a href="#">#223</a> 
            <abbr class="activity-time" title="2020/08/08 12:08">منذ 10 دقائق</abbr>
        </span>
        
    </div>
</div>