<!-- ======= Verify Phone Section ======= -->
<section id="login">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
                <div class="d-table-cell align-middle">
                    <div class="card">
                        <div class="text-center mt-4">
                            <h1 class="h2">تنشيط الحساب</h1>
                        </div>
                        
                        <div class="card-body">
                          <div class="m-sm-4">
                            <form  (ngSubmit)="resetForgottenPasswordAccount()" [formGroup]="resetForgottenPasswordForm" >
                                <div class="text-center mb-5">
                                    <img src="{{isFemaleAccount() ? 'assets/img/team/w-avatar.jpg' : 'assets/img/team/m-avatar.jpg'}}" class="img-fluid rounded-circle" width="132" height="132">
                                </div>
                                <div class="form-group">
                                    <input formControlName="verifyCode" maxlength="6" type="text" [ngClass]="{'is-invalid' : addValidator.verifyCode.errors && addValidator.verifyCode.touched }"  class="form-control form-control-lg text-center " placeholder="{{'Signup.VerifyCode' | translate }}" >
                                    <div [hidden]="!(addValidator.verifyCode?.touched && addValidator.verifyCode?.errors)" class="invalid-feedback">
                                        <div [hidden]="!addValidator.verifyCode.errors?.required">{{'Common.Validation.Required' | translate }}</div>
                                        <div [hidden]="!addValidator.verifyCode.errors?.pattern">{{'Signup.PasswordExpressionMsg' | translate }}</div>
                                    </div>
                                </div>  
                                <div class="form-group">
                                    <input ShowPassword formControlName="newPassword" type="password" [ngClass]="{'is-invalid' : addValidator.newPassword.errors && addValidator.newPassword.touched }"  class="form-control form-control-lg" placeholder="{{'Login.NewPassword' | translate }}" autocomplete="new-password">
                                    <div [hidden]="!(addValidator.newPassword?.touched && addValidator.newPassword?.errors)" class="invalid-feedback">
                                        <div [hidden]="!addValidator.newPassword.errors?.required">{{'Common.Validation.Required' | translate }}</div>
                                        <div [hidden]="!addValidator.newPassword.errors?.minlength">{{'Signup.PasswordMinLength' | translate }}</div>
                                        <div [hidden]="!addValidator.newPassword.errors?.maxlength">{{'Signup.PasswordMaxLength' | translate }}</div>
                                        <div [hidden]="!addValidator.newPassword.errors?.pattern">{{'Signup.PasswordExpressionMsg' | translate }}</div>
                                    </div>
                                </div>  
                                <div class="form-group">
                                    <button   class="btn btn-success btn-lg btn-block text-center" [disabled]="isSubmitting || !resetForgottenPasswordForm.valid" type="submit">
                                        <i *ngIf="isSubmitting" class='fa fa-circle-o-notch fa-spin'></i>&nbsp;{{!isSubmitting ? '' : 'Common.Data.SendingData'  | translate}}
                                        {{isSubmitting ? '' : 'Login.PasswordReset' | translate}}
                                    </button>
                                </div>
                              </form>
                          </div>
                        </div>
                                  
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Verify Phone Section -->