<div class="bg-Yellow">
  <div class="error-header Bordertop-Yellow"> </div>
  <div class="container ">
    <div class="error-container text-center">
      <h1 class="text-Yellow">404</h1>
      <div class="error-divider">
        <h2>محتوى غير موجود</h2>
        <p class="description">نأسف الصفحة أو المصدر التي تحاول الوصول اليه غير موجود</p>
      </div>
      <a href="javascript:void(0)" (click)="goBack()" class="return-btn Animebutton" >العودة&nbsp;<i class="glyphicon glyphicon-home"></i></a>
    </div>
  </div>
</div>
