<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h2>{{'JobCategories.Title' | translate }}</h2>
            </div>
            <ol>
                
                <li><a [routerLink]="['/settings']">{{'Menu.Dashboard' | translate }}</a></li>
            </ol>
        </div>
    </div>
</section><!-- End Breadcrumbs -->

<article class="content">
    <div class="container">
        <div class="d-sm-flex flex-wrap justify-content-between p-2 mb-2 border rounded-lg bg-light" >
            <div class="form-inline">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" maxlength="30" [(ngModel)]="query.filterText" (keyup.esc)="resetFilter()" (keyup.enter)="onFilterChange()" placeholder="{{'Common.Data.SearchTip' | translate}}">
                    <div class="input-group-append" id="button-addon4">
                        <button id="btnResetFilter" class="btn btn-danger" type="button" (click)="resetFilter()" title="{{'Common.Data.Reset' | translate}}"><i class="fa fa-remove"></i></button>
                    </div>
                </div>
            </div>
            <div class="mb-2"></div>
            <div class="btn-group">
                <button id="btnRefreshData" type="button" class="btn btn-sm btn-light border btn-vertical" (click)="refreshData()">
                    <i class="fa fa-refresh text-success" title="{{'Common.Data.Refresh' | translate}}"></i>
                    <div>{{'Common.Data.Refresh' | translate}}</div>
                </button>
            </div>
        </div>
        
        
        <div [ngClass]="{'disabled-spinner-container': isLoadingData}">
            <app-spinner-container *ngIf="isLoadingData" class="spinner-container"></app-spinner-container>
            <div class="table-responsive table-sm-vertical">
                <table class="table table-sm table-bordered table-hover table-light">
                    <thead class="table-info">
                        <tr>
                            <th *ngFor="let c of columns" class="{{c.style}}">
                                <div *ngIf="c.isSortable" class="align-middle text-{{c.align}} " (click)="sortBy(c.key)">
                                    {{ c.title }}
                                    <i *ngIf="query.sortBy === c.key"
                                        class="fa "
                                        [class.fa-sort-asc]="query.isSortAscending"
                                        [class.fa-sort-desc]="!query.isSortAscending"></i>
                                </div>
                                <div *ngIf="!c.isSortable" class="align-middle text-{{c.align}}">
                                    {{ c.title }}
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr class="table-info">
                            <th colspan='100%' class="text-center" >{{'Common.Data.ResultsFound' | translate }} [ {{query.totalItems || '0' }} ] </th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr *ngIf="!cities?.length">
                            <th colspan='100%' class="text-center" >
                                <div class="container d-flex h-100">
                                    <div class="row align-self-center justify-content-center w-100">
                                        <div class="d-flex flex-column bd-highlight">
                                            <div class="text-center">
                                                <span class="fa-stack fa-3x">
                                                    <i class="fa fa-sticky-note-o fa-stack-1x text-primary"></i>
                                                    <i class="fa fa-ban fa-stack-2x text-gold"></i>
                                                </span>
                                            </div>
                                            <div class="text-center mt-2 text-dark">
                                                <h5>{{'Common.Messages.NotFoundAnyRecord' | translate:{'value': 'Common.Data.Record' | translate} }}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </th>
                        </tr>
                        <tr *ngFor="let city of cities; let i=index" [@EnterItem]="{value:'', params:{delay: 100 * i}}" [ngClass]="{'text-deleted': !city.isEnabled }">
                            <td [attr.data-title]="columns[0]?.title" class="align-middle text-center ">{{city.id}}</td>
                            <td [attr.data-title]="columns[1]?.title" class="align-middle text-center ">{{city.code}}</td>
                            <td [attr.data-title]="columns[2]?.title" class="align-middle text-left ">{{city.arName}}</td>
                            <td [attr.data-title]="columns[3]?.title" class="align-middle text-right ">{{city.enName}}</td>
                            <td [attr.data-title]="columns[4]?.title" class="align-middle text-center ">
                                <div class="toggle lg">
                                    <label><input type="checkbox" (change)="changeCityStatus(city, $event)" [checked]="city.isEnabled" ><span class="button-indecator"></span></label>
                                </div>
                            </td>
                            <td [attr.data-title]="columns[5]?.title" class="align-middle text-center ">{{city.regionName}}</td>
                            <td [attr.data-title]="columns[6]?.title" class="align-middle text-center ">{{city.updatedDate| date:'yyyy/MM/dd hh:mm'}}</td>
                            <td class="align-middle text-center">
                                <div class="btn-group  btn-sm" role="group" aria-label="...">
                                    <button *ngIf="true" class="btn btn-outline-warning btn-sm" type="button" title="{{'Common.CRUD.Edit' | translate}}" (click)="getCityToEdit(city)"><i class="fa fa-pencil"></i></button>
                                    <button *ngIf="true" class="btn btn-outline-info btn-sm" type="button" title="{{'Common.Data.View' | translate}}" (click)="getCityToViewDetails(city)"><i class="fa fa-window-restore"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        
        
            <ngb-pagination class="d-flex justify-content-center" [boundaryLinks]="true" [pageSize]="query.pageSize" [collectionSize]="query.totalItems"
                            [(page)]="query.pageNumber"  [maxSize]="5" [rotate]="true" (pageChange)="onPageChange($event);">
                    <ng-template ngbPaginationFirst>&laquo;</ng-template>
                    <ng-template ngbPaginationPrevious>&lsaquo;</ng-template>
                    <ng-template ngbPaginationLast>&raquo;</ng-template>
                    <ng-template ngbPaginationNext>&rsaquo;</ng-template>
            </ngb-pagination>
        
        
        </div>
        
        
        
        
        <ng-template #popTitle let-vCity="vCity">{{'Common.Data.MoreInformations' | translate }}</ng-template> 
        <ng-template #popContent let-vCity="vCity">
            <div class="form-group">
                <label class="font-weight-bold text-info" >{{'Common.Form.Id' | translate }}&nbsp;:</label>
                <p class="form-control-Static">{{vCity.id}}</p>
            </div>
            <div class="form-group">
                <label class="font-weight-bold text-info" >{{'Cities.Code' | translate }}&nbsp;:</label>
                <p class="form-control-Static">{{vCity.code}}</p>
            </div>
            <div class="form-group">
                <label class="font-weight-bold text-info" >{{'Cities.ArName' | translate }}&nbsp;:</label>
                <p class="form-control-Static">{{vCity.arName}}</p>
            </div>
            <div class="form-group">
                <label class="font-weight-bold text-info" >{{'Cities.EnName' | translate }}&nbsp;:</label>
                <p class="form-control-Static">{{vCity.enName}}</p>
            </div>
            <div class="form-group">
                <label class="font-weight-bold text-info" >{{'Cities.IsEnabled' | translate }}&nbsp;:</label>
                <p class="form-control-Static">
                    <label><input type="checkbox" [checked]="vCity.isEnabled" ><span class="button-indecator"></span></label>
                </p>
            </div>
            <div class="form-group">
                <label class="font-weight-bold text-info" >{{'Cities.RegionId' | translate }}&nbsp;:</label>
                <p class="form-control-Static">{{vCity.regionId}}</p>
            </div>
            <div class="form-group">
                <label class="font-weight-bold text-info" >{{'Cities.UpdatedDate' | translate }}&nbsp;:</label>
                <p class="form-control-Static">{{vCity.updatedDate| date:'yyyy/MM/dd hh:mm'}}</p>
            </div>
        </ng-template> 
        
        
        
    </div>
</article>

