    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">
  
          <div class="section-title" data-aos="fade-up">
            <h2>خدماتنا</h2>
            <p>ضغط الوقت يمكن في الواقع أن يكون مفيداً،
              فهو يساعد على تركيز الذهن وعدم التفكير
              في التسويف، وخفض عدد البدائل التي يمكن التفكير بها</p>
          </div>
  
          <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 px-2">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                <div class="icon"><i class="fa fa-clock-o"></i></div>
                <h4 class="title"><a href="">يومي</a></h4>
                <p class="description">تستطيع من خلال هذا الخيار الحصول على موظفين للعمل ليوم واحد أو لعدة أيام حسب الطلب، يناسب الشركات المهتمة بتنظيم المعارض والمؤتمرات والإحتفالات والتسويق والترويج</p>
                <h5 class="text-left"><span class="section-header-behind-line behind-line-gray">مناسب لـ</span></h5>
                <p class="description">المناسبات  #مواسم_السعودية  #المعارض#</p>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 px-2">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                <div class="icon"><i class="fa fa-calendar"></i></div>
                <h4 class="title"><a href="">جزئي</a></h4>
                <p class="description">يساعدك هذا الخيار الحصول على موظفين بدوام جزئي لتغطية أوقات الذروة أو حتى تخليص الأعمال بجميع الاوقات لوظائف مسائية و وظائف صباحية ووظائف نهاية الأسبوع مثل المطاعم والمقاهي والشركات الناشئة وقطاع التجزئة.</p>
                <h5 class="text-left"><span class="section-header-behind-line behind-line-gray">مناسب لـ</span></h5>
                <p class="description">مطاعم  #مقاهي  #شركات_ناشئة# </p>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 px-2">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                <div class="icon"><i class="fa fa-file-text-o"></i></div>
                <h4 class="title"><a href="">عقود</a></h4>
                <p class="description">هذا الخيار يساعدك على إيجاد موظفين لعقود مؤقتة أو موسمية قد تمتد لشهر أو عدة أشهر تناسب الشركات التي تحصل على عقود مؤقتة مثل المشاريع أو تعمل اثناء المواسم الطويله مثل الصيف.</p>
                <h5 class="text-left"><span class="section-header-behind-line behind-line-gray">مناسب لـ</span></h5>
                <p class="description">وظائف_صيفية  #رمضان  #مشاريع#</p>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 px-2">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                <div class="icon"><i class="fa fa-globe"></i></div>
                <h4 class="title"><a href="">تطوعي</a></h4>
                <p class="description">مجاناً تستطيع الجهات الخيرية والقطاع غير الربحي استخدام المنصة للحصول على متطوعين ، فاذا كنت تمثل هذه القطاعات أو مايشابهها انظم معنا.</p>
                <h5 class="text-left"><span class="section-header-behind-line behind-line-gray">مناسب لـ</span></h5>
                <p class="description"> تطوع_صحي  #تطوع_خيري  #تطوع_اجتماعي# #تدريب طلاب</p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Services Section -->
  