<a [routerLink]="(getContentDetails) ? ['/jobs', 'details', getContentDetails.offerId , getContentDetails.jobName] : ['']" class="list-group-item list-group-item-action px-2 py-2" >
    <div class="d-flex bd-highlight">
        <div class="mr-3"><i class="fa fa-2x" [class]="notification.icon + ' ' + notification.colorDescription"></i></div>
        <div class="flex-grow-1">
            <div class="w-100">
                <h5 class="mb-1">
                    <!-- {{notification.summary}} -->
                </h5>
            </div>
            <p class="mb-0">قام المستخدم <strong class="text-info">{{getContentDetails.applicantName}}</strong> بالتقديم على العرض الخاص بك <strong class="text-info">{{getContentDetails.jobName}}</strong>، قم باستعراض العرض للموافقه أو الرفض للمتقدم.</p>
            <div class="d-flex w-100 justify-content-between">
                <small></small>
                <small>{{notification.createdDate | timeAgo}}</small>
            </div>
        </div>
    </div>
</a>