<app-hero></app-hero>

<app-aqdrr></app-aqdrr>
<app-clients></app-clients>
<app-last-jobs-offers  [query]="{isCountCompleted:false,isPassStartDate:false,SortBy:'createdDate',IsSortAscending:false,pageSize:4}" [isShowTitleBar]="true" ></app-last-jobs-offers>
<app-random-tasker></app-random-tasker>

<app-pricing-previews>
    
</app-pricing-previews>



<!-- <app-nav-glow-buttons></app-nav-glow-buttons> -->
<!-- <app-features></app-features> -->

<!-- <app-about-us></app-about-us> -->
<!-- <app-about-count></app-about-count> -->
<!-- <app-our-services></app-our-services> -->
<!-- <app-faq></app-faq> -->
<!-- <app-contact></app-contact> -->
