<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">
      <div class="d-flex justify-content-between align-items-center">
          <div>
              <h2>{{'Portfolios.portfolio' | translate }}</h2>
              <span class="sub-title job-title-badge badge badge-info">{{'Portfolios.New' | translate }}</span>
          </div>
          <ol>
              
              <li><a [routerLink]="['/profile']">{{'Portfolios.portfolio' | translate }}</a></li>
          </ol>
      </div>
  </div>
</section><!-- End Breadcrumbs -->

<article id="profile" class="content">
    <div class="container">
      <!-- start Normal Add BootStrap CardForm Form -->
      <form id ="formAddPortfolio" [formGroup]="addPortfolioForm" (ngSubmit)="addNewPortfolio()">
        <div class="card">
          <div class="card-header">
            <h5><span class="fa fa-plus"></span>&nbsp;{{'Portfolios.New' | translate }}</h5>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label class="font-weight-bold" >{{'Portfolios.Title' | translate }}<strong class="text-danger">*</strong></label>
              <input class= "form-control default"  maxlength="150" formControlName="title" [ngClass]="{'is-invalid' : addValidator.title.errors && addValidator.title.touched}"  >
              <div *ngIf="addValidator.title.touched && addValidator.title.errors" class="invalid-feedback">
                <div *ngIf="addValidator.title.errors.required">{{'Common.Validation.Required' | translate }}</div>
              </div>
            </div>
            <div class="form-group">
              <label class="font-weight-bold" >{{'Portfolios.Description' | translate }}</label>
              <textarea class= "form-control default" rows="6"  maxlength="300" formControlName="description" placeholder= "{{'Common.Form.MaxThreeHundred' | translate:{'value': 'Portfolios.DescriptionPlaceHolder' | translate} }}" [ngClass]="{'is-invalid' : addValidator.description.errors && addValidator.description.touched}"  ></textarea>
              <div *ngIf="addValidator.description.touched && addValidator.description.errors" class="invalid-feedback">
                <div *ngIf="addValidator.description.errors.minlength || addValidator.description.errors.maxlength" > {{'Common.Form.MaxThreeHundred' | translate:{'value': 'Portfolios.DescriptionPlaceHolder' | translate} }}</div>
              </div>
            </div>
            <div class="form-group">
                      <label class="hidden-xs">{{'Common.Upload.SelectFiles' | translate:{'value': 'Common.Upload.Images' | translate} }}</label>
                      <div ng2FileDrop class="drop-container dropzone" [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader" > <!-- [class.hovering]="isHovering" -->
                          <p class="m-0">
                            {{'Common.Upload.DropZone' | translate:{'value': 'Common.Upload.Images' | translate} }}
                            <label class="upload-button">
                              <input type="file" #uploadMult ng2FileSelect [uploader]="uploader" multiple>{{'Common.Upload.SelectManually' | translate }}
                            </label>
                          </p>
                          <p class="m-0">
                            {{'Common.Upload.Allowed' | translate }} <span class="badge badge-info mr-1">{{'Common.Upload.Only' | translate:{'value': 'Common.Upload.Images' | translate} }}</span> |
                            {{'Common.Upload.MaxSize' | translate }} <span class="badge badge-dark"> {{'Common.Upload.SizeMega' | translate:{'value':'1'} }} </span>
                          </p>
                          <div *ngIf="uploader?.queue?.length">
                            <p class="m-0">{{'Common.Upload.SelectedFiles' | translate:{'value': 'Common.Upload.Images' | translate} }} {{ uploader?.queue?.length }} <i class="fa fa-paperclip"></i></p>
                          </div>
                      </div>
                      <div *ngIf="uploader?.queue?.length">
                        <div class="table-responsive">
                          <table class="table table-sm table-bordered table-hover table-light">
                            <thead class="table-info">
                              <tr>
                                <th class="text-center" width="50%">{{'Common.Upload.FileName' | translate }}</th>
                                <th class="text-center">{{'Common.Upload.TheSize' | translate }}</th>
                                <th colspan="1"></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of uploader.queue">
                                <td class="text-left" style="overflow: hidden;"><img thumbnail [image]="item?._file">{{ item?.file?.name | slice : 0 : 25 }}</td>
                                <td class="text-center" *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} mb</td>
                                <!-- <td class="text-center"><button type="button" class="btn btn-success btn-sm pt-0" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess"><i class="fa fa-upload"></i></button></td>
                                <td class="text-center"><button type="button" class="btn btn-warning btn-sm pt-0" (click)="item.cancel()" [disabled]="!item.isUploading"><i class="fa fa-ban"></i></button></td> -->
                                <td class="text-center"><button type="button" class="btn btn-danger btn-sm pt-0" (click)="item.remove()"><i class="fa fa-trash-o"></i></button></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                      
                  <div *ngIf="uploader?.queue?.length" class="col-12" style="margin-bottom: 40px">
                      <div class="progress">
                          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                      </div>
                      <!-- <div class="text-center p-3">
                          <button type="button" class="btn btn-outline-success btn-sm m-1" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                              <i class="fa fa-upload"></i> {{'Common.Upload.UploadAll' | translate }}
                          </button>
                          <button type="button" class="btn btn-outline-warning btn-sm m-1" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                              <i class="fa fa-ban"></i> {{'Common.Upload.CancelAll' | translate }}
                          </button>
                          <button type="button" class="btn btn-outline-danger btn-sm m-1" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                              <i class="fa fa-trash-o"></i> {{'Common.Upload.DeleteAll' | translate }}
                          </button>
                      </div>     -->
                  </div>
                  
          </div>
          <div class="card-footer text-right">
            <button id="btnAddPortfolio" class="btn btn-primary" [disabled]="isSubmitting" type="submit">
              <i *ngIf="isSubmitting" class='fa fa-circle-o-notch fa-spin'></i>&nbsp;{{!isSubmitting ? '' : 'Common.Data.SendingData'  | translate }}
              <i *ngIf="!isSubmitting" class="fa fa-save" ></i>&nbsp;{{isSubmitting ? '' : 'Common.CRUD.Save' | translate}}&nbsp;
            </button>
          </div>
        </div>
      </form>
      <!-- End Normal Add BootStrap CardForm Form -->
    </div>
</article>





