<footer>
  <div class="aqdr-container">
    <div class="aqdr-footer-container">
      <div class="aqdr-footer-logo">
        <img src="assets/images/footer-logo.png" alt="">
      </div>
      <ul class="aqdr-footer-links">
        <li><a href="#aqdr-stage">{{'app.AppName'|translate}}</a></li>
        <li><a href="#aqdr-jobs">{{'Navbar.Members' | translate }}</a></li>
        <li><a href="#aqdr-freelancers">{{'Navbar.Business' | translate }}</a></li>
      </ul>
      <ul class="aqdr-footer-links">
        <li><a href="#aqdr-packages">{{'Navbar.Packages' | translate }}</a></li>
        <li><a [routerLink]="['/contact-us']">{{'Navbar.ContactUs' | translate }}</a></li>
        <li><a [routerLink]="['/faq']">{{'Navbar.FAQ' | translate }} </a></li>
      </ul>
      <div class="aqdr-footer-contact-info">
        <a href="javascript:void(0)" class="aqdr-footer-contact">
          <span class="aqdr-footer-icon"><i class="fa fa-map-marker-alt"></i></span>
          {{'Footer.SaudiArabia' | translate }}
        </a>
        <a href="mailto:aqdrr.sa@gmail.com" class="aqdr-footer-contact">
          <span class="aqdr-footer-icon"><i class="fa fa-envelope"></i></span>
          aqdrr.sa@gmail.com
        </a>
        <div class="aqdr-footer-contact-inline-group">
          <a href="tel://+96600000" class="aqdr-footer-contact">
            <span class="aqdr-footer-icon"><i class="fa fa-phone"></i></span>
            +96600000
          </a>
          <a href="https://wa.me/send?phone=96600000" class="aqdr-footer-contact">
            <span class="aqdr-footer-social-icon wahtsapp"><i class="fab fa-whatsapp"></i></span>
            {{'Footer.Wahtsapp' | translate }}
          </a>
        </div>
      </div>
      <div class="aqdr-footer-socails">
        <div class="aqdr-footer-socails-title">
          {{'Footer.SocialAccounts' | translate }}
        </div>
        <ul class="aqdr-socials">
          <li><a class="aqdr-footer-social-icon" href="#"><i class="fab fa-instagram"></i></a></li>
          <li><a class="aqdr-footer-social-icon" href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a class="aqdr-footer-social-icon" href="#"><i class="fab fa-linkedin"></i></a></li>
          <li><a class="aqdr-footer-social-icon" href="#"><i class="fab fa-youtube"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>