    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title mb-1 pb-1">
            <h2>اسئلة شائعة</h2>
          </div>
  
          <div class="faq-list">
            <ul>
              <li data-aos="fade-up" data-aos-delay="100">
                <i class="fa fa-question-circle-o icon-help"></i> <a data-toggle="collapse" class="collapse" href="#faq-list-1">هل تأتي رسالة أو اشعار على أنه تم ترشيحي للوظيفة الجزئية؟ إذا نعم هل عن طريق الإيميل، رقم، أو المنصة؟ <i class="fa fa-chevron-down fa-lg icon-show"></i><i class="fa fa-chevron-up fa-lg icon-close"></i></a>
                <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
                  <p>
                    نعم، في حال تم ترشيحك المبدئي للفرصة الوظيفية، يصل إليك اشعار على حسابك في المنصة أو يتم التواصل معك عن طريق وسائل التواصل المرفقة في سيرتك الذاتية.
                  </p>
                </div>
              </li>
  
              <li data-aos="fade-up" data-aos-delay="200">
                <i class="fa fa-question-circle-o icon-help"></i> <a data-toggle="collapse" href="#faq-list-2" class="collapsed">عند الرفض أو القبول العرض الوظيفي الجزئى هل التواصل من أقدر أو الشركة المعلنة؟ <i class="fa fa-chevron-down icon-show"></i><i class="fa fa-chevron-up icon-close"></i></a>
                <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                  <p>
                    يكون من الجهة المعلنة للعرض الوظيفي , أقدر وسيط بين الفرد والجهة.
                  </p>
                </div>
              </li>
  
              <li data-aos="fade-up" data-aos-delay="300">
                <i class="fa fa-question-circle-o icon-help"></i> <a data-toggle="collapse" href="#faq-list-3" class="collapsed">هل عمر المتقدم للوظيفة محدود لفئة معينة؟ <i class="fa fa-chevron-down icon-show"></i><i class="fa fa-chevron-up icon-close"></i></a>
                <div id="faq-list-3" class="collapse" data-parent=".faq-list">
                  <p>
                    ليس محدود, الحد الأدنى لعمر المتقدم هو 16 سنة.
                  </p>
                </div>
              </li>
  
              <li data-aos="fade-up" data-aos-delay="400">
                <i class="fa fa-question-circle-o icon-help"></i> <a data-toggle="collapse" href="#faq-list-4" class="collapsed">هل يؤثر التسجيل على التأمين ، حافز ؟ <i class="fa fa-chevron-down icon-show"></i><i class="fa fa-chevron-up icon-close"></i></a>
                <div id="faq-list-4" class="collapse" data-parent=".faq-list">
                  <p>
                    لا , لا يؤثر التسجيل في المنصة.
                  </p>
                </div>
              </li>
  
              <li data-aos="fade-up" data-aos-delay="500">
                <i class="fa fa-question-circle-o icon-help"></i> <a data-toggle="collapse" href="#faq-list-5" class="collapsed">لم تصلني رسالة تفعيل ؟ <i class="fa fa-chevron-down icon-show"></i><i class="fa fa-chevron-up icon-close"></i></a>
                <div id="faq-list-5" class="collapse" data-parent=".faq-list">
                  <p>
                    الإطلاع على البريد المهمل او غير المرغوب فيه , في حال لم تصلك أيضا الرجاء قم بالتواصل مع الفريق المختص بالبريد الالكتروني !
                  </p>
                </div>
              </li>
  
              <li data-aos="fade-up" data-aos-delay="500">
                <i class="fa fa-question-circle-o icon-help"></i> <a data-toggle="collapse" href="#faq-list-6" class="collapsed">كيف يمكنني التعديل على السيرة الذاتية؟ <i class="fa fa-chevron-down icon-show"></i><i class="fa fa-chevron-up icon-close"></i></a>
                <div id="faq-list-6" class="collapse" data-parent=".faq-list">
                  <p>
                    في يمين صفحتك بالمنصة يوجد خيار تعديل السيرة الذاتيه , أو في اعلى الصفحه في حال كنت تستخدم هاتف متنقل.
                  </p>
                </div>
              </li>
  
              <li data-aos="fade-up" data-aos-delay="500">
                <i class="fa fa-question-circle-o icon-help"></i> <a data-toggle="collapse" href="#faq-list-7" class="collapsed">هل تخصصي الدقيق يندرج تحت مسمى اخر؟ <i class="fa fa-chevron-down icon-show"></i><i class="fa fa-chevron-up icon-close"></i></a>
                <div id="faq-list-7" class="collapse" data-parent=".faq-list">
                  <p>
                    نعم.
                  </p>
                </div>
              </li>
  
              <li data-aos="fade-up" data-aos-delay="500">
                <i class="fa fa-question-circle-o icon-help"></i> <a data-toggle="collapse" href="#faq-list-8" class="collapsed">اذا نسيت كلمة المرور لحسابي هل يتطلب مني التسجيل بالمنصة مرة اخرى ؟ <i class="fa fa-chevron-down icon-show"></i><i class="fa fa-chevron-up icon-close"></i></a>
                <div id="faq-list-8" class="collapse" data-parent=".faq-list">
                  <p>
                    لا , يوجد خيار "استعادة كلمة المرور" قم بالضغط عليها وسوف يصلك بريد الكتروني بالتغيير.
                  </p>
                </div>
              </li>
  
              <li data-aos="fade-up" data-aos-delay="500">
                <i class="fa fa-question-circle-o icon-help"></i> <a data-toggle="collapse" href="#faq-list-9" class="collapsed">اذا تم القبول والمباشرة بالعمل , هل ل أقدر نسبة من راتب الموظف ؟ <i class="fa fa-chevron-down icon-show"></i><i class="fa fa-chevron-up icon-close"></i></a>
                <div id="faq-list-9" class="collapse" data-parent=".faq-list">
                  <p>
                    لا , المنصة لاتأخذ اي نسبة من الموظف !
                  </p>
                </div>
              </li>
            </ul>
          </div>
  
        </div>
      </section><!-- End Frequently Asked Questions Section -->