<div class="row" >
    <h4 class="profile-horizontal-Line text-left px-2 my-3">
        <span class="section-header-behind-line profile-head-line px-2">{{'users.Students.Languages' | translate }}</span>
    </h4>
    <ng-container *ngIf="userLanguages?.length > 0; else nothingTemplate">
        <div class="col-12 my-2">
            <span class="h6 badge-xl bg-info " *ngFor="let language of userLanguages; let i = index;"><i class="fa fa-language"></i>&nbsp;&nbsp;{{language?.language?.name}}</span>
        </div>
    </ng-container>
    <ng-template #nothingTemplate>
        <div class="col-12 my-2">
            <p class="form-control-plaintext text-break text-secondary pt-0">{{'Common.Data.NoData' | translate }}</p>
        </div>
    </ng-template>
</div>