<div class="bg-gold">
  <div class="error-header Bordertop-gold"> </div>
  <div class="container ">
    <div class="error-container text-center">
      <h1 class="text-gold">Link Not Work Anymore !</h1>
      <div class="error-divider">
        <h2>الرابط لم يعد يعمل حالياً</h2>
        <br />
        <p class="description">المحتوى الذي تحاول الوصول اليه له مده زمنيه محدوده للاستعراضه ويتخفي تلقائياً، وفي حالة
          الرغبه مره اخرى بالاطلاع على هذا المحتوى التواصل مع ادراة الموقع.</p>
      </div>
      <a href="javascript:void(0)" (click)="goBack()" class="return-btn Animebutton">العودة&nbsp;<i
          class="glyphicon glyphicon-home"></i></a>
    </div>
  </div>
</div>
