<!-- <div class="profile-details">
    <ul class="list-unstyled">
        <li class="d-flex"><i class="fa fa-archive pl-1"></i><span class="px-1 ml-1">عدد المشاريع:</span><span class="number">4</span></li>
        <li class="d-flex"><i class="fa fa-briefcase pl-1"></i><span class="px-1 ml-1">عروض العمل: </span><span class="number">34</span></li>
        <li class="d-flex"><i class="fa fa-id-card pl-1"></i><span class="px-1 ml-1"> تم توظيف: </span><span class="number">50</span></li>
    </ul>
</div> -->