.bg-Purple{background-color:#913d88;color:#fff}
.text-Purple{color:#722d6a}
.Bordertop-Purple{border-top:solid 10px #913d88}
.bg-gold{background-color:#a29261;color:#fff}
.text-gold{color:#a29261;font-size:90px!important}
.Bordertop-gold{border-top:solid 10px #a29261}
.bg-Red{background-color:#e36d6d;color:#fff}
.text-Red{color:#db3939}
.Bordertop-Red{border-top:solid 10px #e36d6d}
.bg-Yellow{background-color:#e9b24b;color:#fff}
.text-Yellow{color:#ffa600}
.Bordertop-Yellow{border-top:solid 10px #e9b24b}
.bg-blue{background-color:#39bbdb;color:#fff}
.text-Blue{color:#0396b9}
.Bordertop-Blue{border-top:solid 10px #39bbdb}
.bg-Green{background-color:#2ea84e;color:#fff}
.text-Green{color:#047321}
.Bordertop-Green{border-top:solid 10px #2ea84e}
body{font-family:js-flat,Helvetica;padding-bottom:0;min-height:100%;font-size:13px}
.error-header{background:#fff;height:180px}
.error-container{background:rgba(0,0,0,.05);text-align:center}
.error-container h1{font-size:10vw;font-weight:400!important;margin:-103px 0 0 0;text-align:center}
.error-divider{margin-top:-27px;padding:30px 0}
.error-container h2{font-weight:700!important;text-transform:uppercase;color:#222d32;margin-top:10px}
.error-container p.description{color:#e5e5e5;font-size:20px;margin:0}
.return-btn,.return-btn:hover{border:1px solid rgba(255,255,255,.3);padding:10px 15px;margin-bottom:30px;display:inline-flex;-webkit-border-radius:5px;-webkit-background-clip:padding-box;-moz-border-radius:5px;-moz-background-clip:padding;border-radius:5px;background-clip:padding-box;color:#fff;font-size:16px;font-weight:300}
a:hover{text-decoration:none}
.Animebutton{text-align:center;transition:all .5s;cursor:pointer}
.Animebutton i{cursor:pointer;display:inline-block;position:relative;transition:.5s}
.Animebutton i:after{content:'»';position:absolute;opacity:0;top:0;right:-20px;transition:.5s}
.Animebutton:hover i{padding-right:25px}
.Animebutton:hover i:after{opacity:1;right:0}

 