<section class="aqdr-section" id="aqdr-stage">
  <div class="aqdr-container">
      <div class="aqdr-section-title center">
          <img src="assets/images/title.png" alt="">
          {{'app.AppName'|translate}}
      </div>
      <div class="aqdr-stages">
          <div class="aqdr-stage">
              <div class="aqdr-stage-text">
                  <div class="aqdr-stage-subject">
                      <div class="aqdr-srage-title">{{'Aqdrr.AppName'|translate}}</div>
                      <div class="aqdr-stage-description">
                        {{'Aqdrr.AppDiscription'|translate}}  
                      </div>
                  </div>
                  <div class="aqdr-stage-subject">
                      <div class="aqdr-srage-title">{{'Aqdrr.Vision'|translate}}</div>
                      <div class="aqdr-stage-description">{{'Aqdrr.VisionDiscription'|translate}}</div>
                  </div>
              </div>
              <div class="aqdr-stage-images-slider" id="stage-images-slider-1">
                  <div class="aqdr-stage-images v2">
                      <div class="aqdr-stage-image aqdr-stage-image-index-0 active" style="background-image: url(assets/images/slider-left-1.jpg);">
                          <img src="assets/images/slider-left-1.jpg" alt="">
                      </div>
                      <div class="aqdr-stage-image aqdr-stage-image-index-1" style="background-image: url(assets/images/slider-left-2.jpg);">
                          <img src="assets/images/slider-left-2.jpg" alt="">
                      </div>
                      <div class="aqdr-stage-image aqdr-stage-image-index-2" style="background-image: url(assets/images/slider-left-3.jpg);">
                          <img src="assets/images/slider-left-3.jpg" alt="">
                      </div>
                  </div>
                  <div class="aqdr-stage-bullts">
                      <span data-index="0" class="active"></span>
                      <span data-index="1"></span>
                      <span data-index="2"></span>
                  </div>
              </div>
          </div>


          <div class="aqdr-stage">
              <div class="aqdr-stage-text">
                  <div class="aqdr-stage-subject">
                      <div class="aqdr-srage-title">{{'Aqdrr.Mission'|translate}}</div>
                      <div class="aqdr-stage-description">                        {{'Aqdrr.MissionDiscription'|translate}}                        </div>
                      <ul class="aqdr-stage-points">
                          <li><img src="assets/images/title.png" alt="">{{'Aqdrr.MissionDiscription1'|translate}}  </li>
                          <li><img src="assets/images/title.png" alt="">{{'Aqdrr.MissionDiscription2'|translate}}  </li>
                          <li><img src="assets/images/title.png" alt="">{{'Aqdrr.MissionDiscription3'|translate}}  </li>
                      </ul>  
                  </div>
              </div>
              <div class="aqdr-stage-images-slider" id="stage-images-slider-2">
                  <div class="aqdr-stage-images v2" >
                      <div class="aqdr-stage-image aqdr-stage-image-index-0 active" style="background-image: url(assets/images/slider-right-1.jpg);">
                          <img src="assets/images/slider-right-1.jpg" alt="">
                      </div>
                      <div class="aqdr-stage-image aqdr-stage-image-index-1" style="background-image: url(assets/images/slider-right-2.jpg);">
                          <img src="assets/images/slider-right-2.jpg" alt="">
                      </div>
                      <div class="aqdr-stage-image aqdr-stage-image-index-2" style="background-image: url(assets/images/slider-right-3.jpg);">
                          <img src="assets/images/slider-right-3.jpg" alt="">
                      </div>
                  </div>
                  <div class="aqdr-stage-bullts">
                      <span data-index="0" class="active"></span>
                      <span data-index="1"></span>
                      <span data-index="2"></span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
