<div class="bg-Red">
  <div class="error-header Bordertop-Red"> </div>
  <div class="container ">
    <div class="error-container text-center">
      <h1 class="text-Red">Error</h1>
      <div class="error-divider">
        <h2>حدث خطأ غير متوقع</h2>
        <p class="description">تم فتح بلاغ لادارة الموقع بالمشكله و سيتم حلها باقرب وقت ممكن</p>
      </div>
      <a href="javascript:void(0)" (click)="goBack()" class="return-btn Animebutton" >العودة&nbsp;<i class="glyphicon glyphicon-home"></i></a>
    </div>
  </div>
</div>
