<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h2>{{'OrdersServices.Taskers' | translate }}</h2>
            </div>
            <ol>
                
            </ol>
        </div>
    </div>
</section><!-- End Breadcrumbs -->

<article  id="team" class="team">
    <div class="container-fluid" [ngClass]="{'disabled-spinner-container': isLoading}">
        <app-spinner-container *ngIf="isLoading" class="spinner-container"></app-spinner-container>
        <div class="row">
            <div class="col-md-3 px-2">
                <div class="card mb-2">
                    <div class="card-header p-0">
                        <a data-toggle="collapse" href="#search-box" class="d-flex align-self-stretch p-3">
                            <h4 class="flex-grow-1 m-0 text-left">{{'Common.CRUD.FilterOptions' | translate }}</h4>
                            <i class="fa fa-chevron-down m-0" style="align-self: center !important;"></i>
                        </a>
                    </div>
                </div>
                <div id="search-box" class="collapse show">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" maxlength="30" [(ngModel)]="query.filterText" (keyup.esc)="resetFilter()" (keyup.enter)="onFilterChange()" placeholder="{{'Common.Data.SearchTip' | translate}}">
                            <div class="input-group-append" id="button-addon4">
                                <button type="button" class="btn btn-success" (click)="refreshData()"><span class="fa fa-refresh text-light" title="{{'Common.Data.Refresh' | translate}}"></span></button>                            
                                <button type="button" class="btn btn-danger" (click)="resetFilter()" title="{{'Common.Data.Reset' | translate}}"><span class="fa fa-remove"></span></button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ddlTaskCategoryId" class="font-weight-bold" >{{'Tasks.Category' | translate }}</label>
                        <ng-select [loading]="isLoadingOptions" bindValue="id" bindLabel="name" [multiple]="true" [items]="tasksCategoriesOptions"
                                 [clearable]="false" [selectableGroup]="true" [closeOnSelect]="false"
                                placeholder="{{'Common.Form.SelectFromMenu' | translate:{'value': 'Tasks.Category' | translate} }}" class="custom"
                                (change)="onFilterChange()" [(ngModel)]="query.categories" >
                            <ng-template ng-loadingspinner-tmp><div class="lds-ellipsis mx-2"><div></div><div></div><div></div><div></div></div></ng-template>
                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                <input id="item-{{index}}" type="checkbox" [checked]="item$.selected"/>&nbsp;{{item.name}}
                            </ng-template>
                        </ng-select>
                    </div>
                    <div class="form-group">
                        <label for="ddlCityId" class="font-weight-bold" >{{'JobsOffers.CityId' | translate }}</label>
                        <select class="form-control" (change)="onFilterChange()" [(ngModel)]="query.cityId">
                            <option [value]="0">{{'Common.Form.ChooseAll' | translate:{'value': 'JobsOffers.Cities' | translate} }}</option>
                            <option *ngFor="let city of citiesOptions" value="{{city.id}}">{{city.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-9 px-0">
              <div class="row m-0 no-padding-sm mb-3">
                <div class="col-md-6 col-lg-4 mt-2 p-0 px-1" *ngFor="let tasker of taskers">
                  <app-service-card [serviceCard]="tasker" [CurrentUserId]="currentUserId"></app-service-card>
                </div>
              </div>
              <ngb-pagination class="d-flex justify-content-center" [pageSize]="query.pageSize" [collectionSize]="query.totalItems" 
                          [(page)]="query.pageNumber"  [ellipses]="false" [maxSize]="3" [rotate]="true" (pageChange)="onPageChange($event);">
                          <ng-template ngbPaginationFirst>&laquo;</ng-template>
                          <ng-template ngbPaginationPrevious>&lsaquo;</ng-template>
                          <ng-template ngbPaginationLast>&raquo;</ng-template>
                          <ng-template ngbPaginationNext>&rsaquo;</ng-template>
              </ngb-pagination>
            </div>
          </div>
    </div>
</article>
