<button id="btnToolbarAddNew"  *ngIf="true" class="btn btn-info btn-block" type="button" data-toggle="modal" data-target="#formChangeUserPassword">
	<span class="fa fa-unlock-alt" title="{{'Login.ChangePassword' | translate}}"></span> {{'Login.ChangePassword' | translate }}
</button>
<!-- start Normal Create Form Bootstrap Modal Dialog -->
<div class="modal fade" tabindex="-1" role="dialog" [formGroup]="changeUserPasswordForm" id="formChangeUserPassword">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title"><span class="fa fa-asterisk"></span>&nbsp;{{'Login.ChangePassword' | translate }}</h5>
				<button #closeModal type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
            <div class="modal-body">
                <div class="form-group">
                    <input ShowPassword formControlName="currentPassword" type="password" [ngClass]="{'is-invalid' : addValidator.currentPassword.errors && addValidator.currentPassword.touched }"  class="form-control" placeholder="{{'Login.CurrentPassword' | translate }}" autocomplete="new-password">
                    <div [hidden]="!(addValidator.currentPassword?.touched && addValidator.currentPassword?.errors)" class="invalid-feedback">
                        <div [hidden]="!addValidator.currentPassword.errors?.required">{{'Common.Validation.Required' | translate }}</div>
                        <div [hidden]="!addValidator.currentPassword.errors?.minlength">{{'Signup.PasswordMinLength' | translate }}</div>
                        <div [hidden]="!addValidator.currentPassword.errors?.maxlength">{{'Signup.PasswordMaxLength' | translate }}</div>
                        <div [hidden]="!addValidator.currentPassword.errors?.pattern">{{'Signup.PasswordExpressionMsg' | translate }}</div>
                    </div>
                </div>  
                <div class="form-group">
                    <input ShowPassword formControlName="newPassword" type="password" [ngClass]="{'is-invalid' : addValidator.newPassword.errors && addValidator.newPassword.touched }"  class="form-control" placeholder="{{'Login.NewPassword' | translate }}" autocomplete="new-password">
                    <div [hidden]="!(addValidator.newPassword?.touched && addValidator.newPassword?.errors)" class="invalid-feedback">
                        <div [hidden]="!addValidator.newPassword.errors?.required">{{'Common.Validation.Required' | translate }}</div>
                        <div [hidden]="!addValidator.newPassword.errors?.minlength">{{'Signup.PasswordMinLength' | translate }}</div>
                        <div [hidden]="!addValidator.newPassword.errors?.maxlength">{{'Signup.PasswordMaxLength' | translate }}</div>
                        <div [hidden]="!addValidator.newPassword.errors?.pattern">{{'Signup.PasswordExpressionMsg' | translate }}</div>
                    </div>
                </div>  
            </div>
            <div class="modal-footer  text-right">
                <button class="btn btn-info" [disabled]="isSubmitting || !changeUserPasswordForm.valid" type="button" (click)="updateCurrentUserPassword()">
                    <i *ngIf="isSubmitting" class='fa fa-circle-o-notch fa-spin'></i>&nbsp;{{!isSubmitting ? '' : 'Common.Data.Updating'  | translate }}
                    {{isSubmitting ? '' : 'Login.PasswordReset' | translate}}&nbsp;
                </button>
            </div>
		</div>
	</div>
</div>
<!-- End Normal Create Form Bootstrap Modal Dialog -->