   <!-- ======= Nav Buttons Section ======= -->
   <div class="container d-flex h-100">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="SectionGlow">
                <a href="#jobs" class="SectionGlowlink scrollto">
                    <div class="IconSectionGlow">
                        <div class="IconGlow">
                          <span class="fa fa-clock-o animated"></span>
                        </div>
                    </div>
                    <div class="SectionGlow-header">
                        <h3 class="heading">هل تبحث عن فرصة عمل بالساعات ؟</h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="SectionGlow">
                <a href="#team" class="SectionGlowlink scrollto">
                    <div class="IconSectionGlow">
                        <div class="IconGlow">
                          <span class="fa fa-address-card-o animated"></span>
                        </div>
                    </div>
                    <div class="SectionGlow-header">
                        <h3 class="heading">هل تبحث عن مُتخصص لتوظيفه ؟</h3>
                    </div>
                </a>
            </div>
        </div>
        </div>
    </div>
  </div><!-- End Nav Buttons Section -->