<div class="">
	<div class="form-group">
		<label id="lblCap_ronlyVewAbout" for="ronlyVewAbout" class="hidden-xs profile-info-title" >{{'users.Business.About' | translate }}</label>
		<p class="form-control-plaintext text-justify profile-info-details">{{accountData?.about}}  </p>
	</div>
	<div class="form-group">
		<label id="lblCap_ronlyVewVision" for="ronlyVewVision" class="hidden-xs profile-info-title" >{{'users.Business.Vision' | translate }}</label>
		<p class="form-control-plaintext text-justify profile-info-details">{{accountData?.vision}}</p>
	</div>
	<div class="form-group">
		<label id="lblCap_ronlyVewMessage" for="ronlyVewMessage" class="hidden-xs profile-info-title" >{{'users.Business.Message' | translate }}</label>
		<p class="form-control-plaintext text-justify profile-info-details">{{accountData?.message}}</p>
	</div>
	<div class="form-group">
		<label id="lblCap_ronlyVewAddress" for="ronlyVewAddress" class="hidden-xs profile-info-title" >{{'users.Business.Address' | translate }}</label>
		<p class="form-control-plaintext profile-info-details">{{accountData?.address}}</p>
	</div>
</div>
