<div class="bg-Purple">
  <div class="error-header Bordertop-Purple"> </div>
  <div class="container ">
    <div class="error-container text-center">
      <h1 class="text-Purple">Session End !</h1>
      <div class="error-divider">
        <h2>تأخرت أثناء تسجيل البيانات</h2>
        <p class="description">نأسف تأخرت أثناء ادخال البيانات لفتره طويله حيث النظام يعطي مده معينه لادخال البيانات من
          أجل اجراءات امنيه ، يمكنك المحاوله مره أخرى</p>
      </div>
      <a href="javascript:void(0)" (click)="goBack()" class="return-btn Animebutton" >تسجيل الدخول&nbsp;<i class="glyphicon glyphicon-home"></i></a>
    </div>
  </div>
</div>
