    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row">
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-xl-start" data-aos="fade-left" data-aos-delay="150">
            <img src="assets/img/looking-for-work.svg" alt="" class="img-fluid"  loading="lazy" >
          </div>

          <div class="col-xl-7 d-flex align-items-stretch pt-4 pt-xl-0" data-aos="fade-right" data-aos-delay="300">
            <div class="content d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="fa fa-smile-o"></i>
                    <p class="ml-5"><strong>موظف مرن</strong>&nbsp;إذا كان عندك وقت فراغ، محتاج مبلغ تمشي فيه أمورك، وما عندك وظيفة، ولا يهمك !! نُقدم لك أحدث عروض العمل بالساعه من جهات التوظيف لأجل تستثمر وقتك صح</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="fa fa-archive"></i>
                    <p class="ml-5"><strong>تبحث عن موظف مؤقت</strong> بسبب عندك زحمة في الويك انْد او فعالية مؤقتة او إعتذر احد موظفيك وتورطّت، وما تقدر تتحمل مصاريف موظفين بشكل دائم، لدينا الحل لمشكلتك، ابحث الأن على موظفين وكوادر بالساعة حسب احتياجك وفي أي وقت </p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="fa fa-clock-o"></i>
                    <p class="ml-5"><strong>ما عندك وقت مشغول بس محتاج تشتغل</strong> نقدم حلول واوقات مرنه للعمل سواء كنت طالب مشغول بالدراسة، او ربة منزل ومشغوله بأطفالك، بالامكانكم العمل في اليوم الي يناسب والوقت الي يريحك.</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="fa fa-trophy"></i>
                    <p class="ml-5"><strong>سيرتك الذاتية محفوظه عندنا</strong> ابني سمعتك معنا وقدم على العروض والتزم بطلبات التوظيف اذا تم الموافقة عليها، عشان ترفع تقييمك وتحصل عروض اكثر من جهات التوظيف </p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Counts Section -->
