<div class="form-group row my-0">
    <label class="col-form-label profile-info-title pb-0">{{'users.Students.GeneralSkills' | translate }}</label>
    <ng-container *ngIf="UserSkills?.length > 0; else nothingTemplate">
        <div class="col-12 my-2">
            <div class="badge-xl bg-info mb-1 profile-info-details" *ngFor="let skill of UserSkills; let i = index;">
                {{skill?.skill?.name}}
            </div>
        </div>
    </ng-container>
    <ng-template #nothingTemplate>
        <p class="form-control-plaintext text-break text-secondary pt-0">{{'Common.Data.NoData' | translate }}</p>
    </ng-template>
</div>